<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/dinlog/IdeaProjects/Assessment/Assessment/src/test/java/assessment/TicketBooking.java">
        <classes>
            <class name="assessment.TicketBooking">
                <methods>
                    <include name="ticketBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>